<%= form_tag :action => :create  do %>
    <p>
      <label for="username">User</label>
      <%= text_field_tag :username, params[:username] %>
    </p>
    <p>
      <label for="description">Description</label>
      <%= text_field_tag :description, params[:description] %>
    </p>
    <p>
      <label for="invitees">Invitees</label>
      <%= text_field_tag :invitees, params[:invitees] %>
    </p>
    <p>
      <label for="startdate">Start Date</label>
      <%= date_select :booking,  "startdate", :order=>[:year,:month,:day]%>
    </p>
    <p>
      <label for="enddate">End Date</label>
      <%= date_select :booking, "enddate",:order=>[:year,:month,:day]%>
    </p>
    <p>
      <label for="starttime">Start Time</label>
      <%= time_select :booking, "starttime" %>
    </p>
    <p>
      <label for="endtime">End Time</label>
      <%= time_select :booking, "endtime" %>
    </p>
    <p>
      <label for="recurring">Recurring</label>
      <%= select :booking , "recurring" ,Booking::RECURRING_TYPE %>
    </p>
    <%= hidden_field_tag(:roomname, @room.name) %>
    <p>
      <%= submit_tag("Booking") %>
    </p>
<% end %>