<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Invitees</th>
    <th>Recurring</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Room</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.description %></td>
    <td><%= booking.invitees %></td>
    <td><%= booking.recurring %></td>
    <td><%= booking.startdate %></td>
    <td><%= booking.enddate %></td>
    <td><%= booking.starttime %></td>
    <td><%= booking.endtime %></td>
    <td><%= booking.room %></td>
    <td><%= booking.user %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
