<div class="searchpanel">
<%= form_tag :action => :result, :controller =>:search, :class=>".form-horizontal" do %>
    <fieldset>

      <legend>Search Options</legend>


      <div class="control-group">


      <label class="control-label" for="startdate">Start Date</label>
       <div class="controls">
       <%= date_select :booking,  "startdate", :order=>[:year,:month,:day]%>
       </div>



      <label class="control-label" for="enddate">End Date</label>
       <div class="controls">
       <%= date_select :booking, "enddate",:order=>[:year,:month,:day]%>
     </div>

      <label class="control-label" for="starttime">Start Time</label>
       <div class="controls">
      <%= time_select :booking, "starttime" ,{:minute_step => 30}%>
      </div>

      <label class="control-label" for="endtime">End Time</label>
       <div class="controls">
      <%= time_select :booking, "endtime" ,{:minute_step => 30}%>
      </div>
     </div>
      <div class="control-group">
      <label class="control-label"  for="capacity">Capacity</label>
       <div class="controls">
      <%= text_field_tag :capacity, params[:capacity],:class=>"input-xlarge" %>
      </div>
      </div>

      <div class="control-group">
      <label class="control-label" for="device">Devices</label>
       <div class="controls">
      <%=  check_box_tag 'projector','projector', false,:class=>"checkbox_inline" %> Projector
      <%=  check_box_tag 'telephone','telephone', false,:class=>"checkbox_inline" %> telephone
      </div>
      </div>

      <div class="control-group">
      <label class="controls" for="recurring">Recurring Type</label>
      <div class="controls">
      <%= radio_button_tag 'recurring',  Booking::RECURRING_TYPE[0], true, :class=> 'recurring_type' %> NO_RECURRING
      <%= radio_button_tag 'recurring',   Booking::RECURRING_TYPE[1], false, :class=> 'recurring_type' %> DAILY
      <%= radio_button_tag 'recurring',   Booking::RECURRING_TYPE[2], false, :class=> 'recurring_type'  %> WEEKLY
      <%= radio_button_tag 'recurring',  Booking::RECURRING_TYPE[3], false,:class=> 'recurring_type'  %> BI-WEEKLY
      </div>
      </div>

      <div class="control-group">
      <label for="recurring" class="controls">Recurring Day</label>
       <div class="controls">
      <%= check_box_tag 'recurringday1', Booking::RECURRING_DAY[0],false, :class=>'recurring_day' %> Mon.
      <%= check_box_tag 'recurringday2', Booking::RECURRING_DAY[1],false, :class=>'recurring_day' %> Tue.
      <%= check_box_tag 'recurringday3', Booking::RECURRING_DAY[2],false, :class=>'recurring_day' %> Wed.
      <%= check_box_tag 'recurringday4', Booking::RECURRING_DAY[3],false, :class=>'recurring_day' %> Thu.
      <%= check_box_tag 'recurringday5', Booking::RECURRING_DAY[4],false, :class=>'recurring_day' %> Fri.
      <%= check_box_tag 'recurringday6', Booking::RECURRING_DAY[5],false, :class=>'recurring_day' %> Sat.
      <%= check_box_tag 'recurringday7', Booking::RECURRING_DAY[6],false, :class=>'recurring_day' %> Sun.
      </div>
      </div>

      <div class="controls ">
      <%= submit_tag "Search Available Room(s)", :class=>"btn btn-primary " %>
      </div>
    </fieldset>
<% end %>


</div>

