<p id="notice"><%= notice %></p>

<%= render 'formhead' %>

<p>
  <b>Roomnum:</b>
  <%= @room.roomnum %>
</p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Cname:</b>
  <%= @room.cname %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>

<p>
  <b>Location:</b>
  <%= @room.location %>
</p>

<p>
  <hr/>
</p>

<p>
  <b> All Booking(s) :</b>
</p>

<table border="3" cellpadding="6">
  <tr>
    <th>Organizer</th>
    <th>Description</th>
    <th>invitees</th>
    <th>start-date</th>
    <th>end-date</th>
    <th>Weekday</th>
    <th>start-time</th>
    <th>end-time</th>
    <th>recurring</th>
    <th>guid</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <% @user = User.find_by_id(booking.user_id) %>
    <td  align="center"><%= @user.username %></td>
    <td align="center"><%= booking.description %></td>
    <td align="center"><%= booking.invitees %></td>
    <td align="center"><%= booking.startdate %></td>
    <td align="center"><%= booking.enddate %></td>
    <td align="center"><%= booking.startdate.to_datetime.strftime "%A" %></td>
    <td align="center"><%= booking.starttime.strftime "%H:%M" %></td>
    <td align="center"><%= booking.endtime.strftime "%H:%M" %></td>
    <td align="center"><%= booking.recurring %></td>
    <td align="center"><%= booking.guid %></td>

    <td align="center"><%= link_to "Edit", :action=>"edit", :id=> booking.id, :controller => "bookings" ,:roomid => @room.id %></td>
    <td align="center"><%= button_to("Delete", {:action=>"destroy", :controller => "bookings", :id=>booking.id, :roomid=>@room.id}, :method=>:delete, :confirm=>"Are you sure?") %></td>
  </tr>
<% end %>

</table>

<hr/>
<%= link_to 'Book', new_booking_path(:roomid => @room.id) %>  |

<%= link_to 'Back', rooms_path %>
