<!DOCTYPE html>
<html>
<head>
  <title>RoomBooker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.4.2.min','jquery_ujs'%>
</head>
<body>

<%= yield %>

</body>
</html>
